@charset "ISO-8859-1";


*
{
	margin:0;
	padding:0;
}

section {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background: #111;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	z-index:0;
}

.row1 {
	position: relative;
	top: -40%;
	width: 100%;
	display: flex;
	padding: 10px 0;
	white-space: nowrap;
	font-size: 64px;
	transform: rotate(-30deg);
}
.row2 {
	position: relative;
	top: -40%;
	width: 100%;
	display: flex;
	padding: 10px 0;
	white-space: nowrap;
	font-size: 64px;
	transform: rotate(-30deg);
}



i{
	color: rgba(0, 0, 0, 0.5);
	transition: 1.2s;
	padding: 0 5px;
	user-select: none;
	cursor: default;
}

i:hover {
	transition: 0s;
	color: #f7007b;
	text-shadow: 0 0 120px #f7007b;
}


.first {
	animation: rightToLeft 40s linear infinite;
}

.second {
	animation: leftToRight 40s linear infinite;
}

@keyframes rightToLeft {
	0% { transform: translateX(0); }
	100% { transform: translateX(-180vw); }
}


@keyframes leftToRight {
	0% { transform: translateX(-180vw); }
	100% { transform: translateX(0); }
}


