@charset "ISO-8859-1";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	transition: 0.4s ease;
}

.container {
	z-index: 2 !important;
	position: relative;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
}

about {
  margin:20px;
  background-color: #fafafa;
  background:blue;
flex-basis:66.66%;
  
}
.info {	
flex-basis:33.33%;
}
.info i {
	color: #f7007b;
}
textarea {
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
}
